

//
// Load our leading HTML and CSS.
//
include layout


div#api(class="row row-status")

    div(class="col-md-1 col-xs-1")
    div(class="col-md-11 col-xs-11 text-left" style="padding-left: 0px; padding-right: 30px; ")
        h2.title API

        h3.faq-question Why did you write an API?
        div.faq-answer
            | I wanted to share the data I generate (determining the 
            | "fuckedness" of trains) with others.  I found a neat way 
            | to use SEPTA's data, and maybe someone else will find a 
            | neat way to use my data.

        h3.faq-question So what are the API endpoints?
        div.faq-answer
            p An interactive API guide is on the 
                a(href="/api-docs") API Docs page

        h3.faq-question Are there any restrictions on this API?
        div.faq-answer
            | Please try not to hit the API more than once every few minutes.
            | Otherwise I will have to implement a quota system and that's not fun for anybody.

        p &nbsp;

include lib/footer


