

div#faq

	h2.title API

	h3.faq-question Why did you write an API?
	div.faq-answer
		| I wanted to share the data I generate (determining the 
		| "fuckedness" of trains) with others.  I found a neat way 
		| to use SEPTA's data, and maybe someone else will find a 
		| neat way to use my data.
	p &nbsp;

	h3.faq-question So what are the API endpoints?
	div.faq-answer
		ul
			li(style="padding-bottom: 10px;")
				a(href="/api/rr") /api/rr
				|  Regional Rail Data
				|  (Includes "fuckedness")
			li(style="padding-bottom: 10px;")
				a(href="/api/rr/raw_data") /api/rr/raw_data
				|  Regional Rail Raw Data
				|  (A copy of the data I'm getting from SEPTA)
			li(style="padding-bottom: 10px;")
				a(href="/api/bus") /api/bus
				|  Bus Data
				|  (Includes "fuckedness")
			li(style="padding-bottom: 10px;")
				a(href="/api/bus/raw_data") /api/bus/raw_data
				|  Bus Raw Data
				|  (A copy of the data I'm getting from SEPTA)
	p &nbsp;

	h3.faq-question Are there any restrictions on this API?
	div.faq-answer
		| Please try not to hit the API more than once every few minutes.
		| Otherwise I will have to implement a quota and that's not fun for anybody.

	p &nbsp;

include lib/footer


