

div#faq

	h1.title
		a(href="/") #{title}

	h2.title Frequently Asked Questions

	h4.faq-question So what exactly is this site?
	div.faq-answer
		| This site takes data on Regional Rail trains from 
		a(href="http://www3.septa.org/hackathon/") SEPTA's API
		| , and turns it into a dashboard that provides an easy way to 
		| view the status of the entire Regional Rail system.

	h4.faq-question Who created it?
	div.faq-answer
		| Me, 
		a(href="http://www.dmuth.org/") Douglas Muth
		| . I live in Ardmore and take the Regional Rail 
		| in to Center City for work each day.

	h4.faq-question What technology did you use to create it?
	div.faq-answer
		p
			| I used 
			a(href="http://nodejs.org/") node.js
			|  and deployed it on 
			a(href="http://www.heroku.com/") Heroku
			| .
			| Node let me do some cool things such as asynchronously 
			| fetching data from SEPTA's API in the same process, 
			| without having to use crontabs. Or a even database for that matter.
		p
			| If you're curious, my source code can be downloaded from 
			a(href="https://github.com/dmuth/IsSeptaFcked") here
			| .

	h4.faq-question Are there any other sites like this out there?
	div.faq-answer
		p
			| Yep!  There's 
			a(href="http://istheltrainfucked.com/") IsTheLTrainFucked.com
			| , which inspired to make this site, along with 
			a(href="http://howfuckedismetro.com/") HowFuckedIsMetro.com
			| , which gave me a few additional ideas and things to think about.
		p
			| If you live in New York City or Washington, D.C. you may want to 
			| take a look at those sites.


	h4.faq-question Don't think you think "fucked" is a strong word?
	div.faq-answer
		| Having been stranded in Philadelphia before (see the next question), no it is not.

	h4.faq-question Have you tried complaining to SEPTA before?
	div.faq-answer
		p
			| Yep, only to have my complaints fall on deaf ears.
		p
			| The real problem with SEPTA seems to be a lack of 
			| communication, extreme apathy, or perhaps both.  A few examples:
		ul
			li 
				p
					| Back in 2008, 
					a(href="http://giza.livejournal.com/529738.html") SEPTA closed Market East Station during rush hour
					|  due to "police activity".  There was zero communication 
					| from SEPTA to pissed off commuters. No signage at the 
					| station, no employees providing information, nothing.
				p
					| SEPTA dropped the ball even further by not appearing 
					| to have a backup plan of using busses as transportation.  
					| This effectively left myself and thousands of other 
					| commuters stranded in the city.

			li 
				p
					| After Hurricane Irene tore through the area in 2011, Regional 
					| Rail was a mess due to wires being down.  This is understandable.  
					| What is not understandable is why again, SEPTA failed to have any 
					| sort of backup plan involving busses.  Commuters were left to 
					| find their own way into (and out of) the city.

			li
				p In 2011, 
					a(href="http://abclocal.go.com/wpvi/story?section=news/local&id=8423575") there was a fatal accident at Overbrook Station
					| .  During the investigation, service was suspended 
					| on the Paoli/Thorndale line.  Again, no backup 
					| transportation was offered by SEPTA.  We had to 
					| find our own way home.

	h4.faq-question Don't you think you're being a bit demanding here?
	div.faq-answer
		p
			| That's entirely possible. I don't know much about the 
			| transportation industry, and I freely admit that my 
			| expectations may be too high. But again, it comes back to 
			b communication
			| .  If SEPTA did a better job of setting 
			| expectations and providing more details in a timely 
			| manner when things go wrong, commuters would probably 
			| be happier with them, and use the word "fuck" far less.

		p
			| It is worth noting that a few years back, SEPTA regularly 
			| put up a nice big banner on Market East Statio that read 
			em "Meet SEPTA Managers on Wednesday Morning"
			| , or something to that effect.  They stopped 
			| doing that a few months later. :-(

		p
			| SEPTA can't even get Twitter right.  I mean, 
			a(href="https://twitter.com/septa") just look at their feed
			| .  See what's missing? Actual conversations with customers.  Twitter isn't a one-to-many medium, it's a conversation medium. 
			a(href="https://twitter.com/AmericanExpress") American Express
			|  and 
			a(href="http://www.businessweek.com/managing/content/jan2009/ca20090113_373506.htm") Comcast
			|  Comcast can get it right. Why can't SEPTA?

	h4.faq-question Are you done yet?
	div.faq-answer
		p
			| Yep. If you made it this far, thanks for reading!
		p
			| If you have any comments, tuna salad, or hate mail, 
			| feel free to get in touch with me through email or 
			a(href="http://www.dmuth.org/contact") the multitude of social networks I am on
			| .  Especially if you have tuna salad. That's very important to me.

	p &nbsp;
	p &nbsp;

div.lower-left
	a(href="/") Septa Regional Rail Train Status

