//- 
//- Our layout file. This is included on every page.
//- 
!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')

		meta(name="description", content="Status dashboard for SEPTA Regional Rail trains")

		//-
		//- If we're in production, reload this page every 5 minutes.
		//-
		if (production) 
			meta(http-equiv="refresh", content="300")

	body!= body

