//- 
//- Our layout file. This is included on every page.
//- 
!!!
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')

		meta(name="description", content="Status dashboard for SEPTA Regional Rail trains")

		//-
		//- If we have a refresh value, set it.
		//-
		if ( typeof(refresh) != "undefined")
			meta(http-equiv="refresh", content="#{refresh}")

	body!= body

//-
//- If we're running in production, display our Google Apps code
//-
//- var production = true; // Debugging
if (production)
	include google_analytics

