/**
* Our stylesheet.
*/

body {
	background-color: black; 
	color: white;
	font-family: arial;
}


h1 {
	text-transform: uppercase; 
	font-size: 32px;
}

h2 {
	font-size: 6vh;
}

.status {
	text-transform: uppercase; 
	font-size: 5vh;
}

.row-status {
	text-align: center;
}

.status-fcked {
	color: red;
}

.status-a-little-fcked {
	color: yellow;
}

.status-not-fcked {
	color: green;
}

.status-unknown {
	color: gray;
}

#status-time {
	font-size: smaller;
}


