/**
* Our stylesheet.
*/

body {
	background-color: black; 
	color: white;
}

#main {
	text-align: center;
}

h1 {
	text-transform: uppercase; 
	font-family: arial; 
	font-size: 36px;
}

.status {
	text-transform: uppercase; 
	font-family: arial; 
	font-size: 64px; 
}

.status-fcked {
	color: red;
}

.status-a-little-fcked {
	color: yellow;
}

.status-not-fcked {
	color: green;
}

.status-unknown {
	color: gray;
}

ul#trains {
	list-style-position:inside;
	font-family: arial;
	font-size: smaller;
}

#message {
	font-family: arial;
	width: 600px;
	/* Center this block */
	margin-left: auto; 	margin-right: auto;
}


