/**
* Our stylesheet.
*/

body {
	background-color: black; 
	color: white;
	font-family: arial;
}

body a:visited {
	color: red;
}

body a:link {
	color: green;
}

#main {
	text-align: center;
}

h1 {
	text-transform: uppercase; 
	font-size: 36px;
}

.status {
	text-transform: uppercase; 
	font-size: 64px; 
}

.status-fcked {
	color: red;
}

.status-a-little-fcked {
	color: yellow;
}

.status-not-fcked {
	color: green;
}

.status-unknown {
	color: gray;
}

ul#trains {
	list-style-position:inside;
	font-size: smaller;
}

#message {
	width: 600px;
	/* Center this block */
	margin-left: auto; 	margin-right: auto;
}

#faq {
	width: 600px;
	margin-left: auto; 	margin-right: auto;
}

.faq-answer {
	padding-left: 20px;
}

/**
* Pin this element to the lower left of the browser window.
*/
.lower-left {
	position: fixed; 
	left: 0; bottom: 0; 
	padding-bottom: 20px; 
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}



