//-
//- Our footer that goes on all of the pages
//-

div.lower-left
	a(href="/") Home
	span  - 
	a(href="/faq") FAQ and Explanation
	span  - 
	a(href="/api") API
	span  - 
	include ./sfw

script(type="text/javascript"
	src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5766f44d0e59fdc5"
	)

