//-
//- Our social widgets.
//-

//-
//- Our Facebook "like" widget
//-
//- <div class="fb-like" data-href="https://www.facebook.com/IsSeptaFcked" data-send="false" data-width="300" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div>
<div class="fb-like-box" data-href="https://www.facebook.com/IsSeptaFcked" data-width="292" data-colorscheme="dark" data-show-faces="false" data-stream="false" data-header="false"></div>


//- 
//- Google +1 button
//- 
p <div class="g-plusone" data-size="medium" data-href="http://www.isseptafucked.com/"></div>


