//-
//- Our social widgets.
//-

//-
//- Our Facebook "like" widget
//-
<div class="fb-like" data-href="https://www.facebook.com/IsSeptaFcked" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true" data-colorscheme="dark" data-font="arial"></div>

//- 
//- Google +1 button
//- 
p <div class="g-plusone" data-size="medium" data-href="http://www.isseptafucked.com/"></div>


